[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "glioblastomaEHRsData"]
	path = glioblastomaEHRsData
	url = https://github.com/samumar4321/glioblastomaehrsdata
